<tr>
	<td><%= location.name %></td>
	<td><%= location.address %></td>
	<!--<td><%= location.address_2 %></td>-->
	<td><%= location.city %></td>
	<td><%= location.state %></td>
	<td><%= location.zip_code %></td>
	<td><%= location.country %></t>
	<td><%= location.phone_number %></td>
</tr> 