<% provide(:title, 'New Location') %>
<h1>New Location</h1>


<%= simple_form_for(@location, :html => { class: 'form-horizontal' }) do |f| %>
	<%= f.error_notification %>
    <%= f.association :company, label: 'Client' %>
	<%= f.input :headquarters %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :address_2 %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip_code %>
    <%= f.input :country %>
    <%= f.input :country_code %>
    <%= f.input :phone_number %>
    <%= f.button :submit, class: "btn btn-primary" %>

    <% end %>